*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0px auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

#header{
    background-color: #151515;
    color: white;
}
#logo{
    width: 40%;
    float: left;
}
#navigation{
    float: right;
    width: 60%;
}
#navigation ul li{
    float: left;
    list-style-type: none;
    margin-right: 10px;
    margin-top: 25px;
}
#navigation ul li :nth-child(even){
    margin-right: 0px;
}
#section-one-image{
    height: 400px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    padding-top: 80px;
    box-sizing: border-box;
    color: white;
}
#section-one-image h1{
    font-weight: 100;
    font-size: 70px;
    margin-bottom: 20px;
}
#section-one-image h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
#section-one-image button{
    background-color: #40a208;
    color: white;
    border: none;
    padding: 13px 33px;
    border-radius: 5px;
}


